<a href="{{ article_url }}" id="article_url"></a>

<script>
  let pageWrapper = document.getElementById('page-wrapper');
  if (pageWrapper) {
    pageWrapper.style.display = 'none';
  }
</script>
<script>
  function tipserOnLoad() {
      window.currentTipserProductId = '{{ productId }}';
      Drupal.behaviors.instyleInfiniteTipser.openTipserProductDetailPage(window.currentTipserProductId);

      Drupal.behaviors.instyleInfiniteTipser.tipserSDK.addDialogClosedListener(function () {
        document.getElementById('article_url').click();
      });
  }

  if (window.location.search.indexOf('tipser_checkout=') === -1) {
    window.addEventListener('load', tipserOnLoad, false);
  }
</script>
